@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul {
  list-style-type: none;
}

.input {
  display: flex;
  justify-content: center;
}
/* Buttons and Input box completed */
.buttons {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
}

.right-links {
  padding-right: 32px;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
}
